<div class="card-preview-container log_in_width ma-auto ma-t-30">
  <div class="card ma-b-60">
    <h4 class="text-center">ADD PHOTO</h4>
    <div class="text-left ma-t-10">

      <!--<image-upload-->
        <!--[max]="1"-->
        <!--[url]="url">-->
        <!--[maxFileSize]="500000000"-->
      <!--</image-upload>-->
      <!--<div class="avatar-img ma-auto ma-b-10"-->
           <!--style="background: url('assets/dummy_avatar.png') no-repeat center">-->
      <!--</div>-->

      <!--<input #fileInput (change)="changeFileStatus()" type="file">-->
      <!--<div class="ma-b-10 text-center">-->
        <!--<button (click)="uploadPhoto(fileInput)" class="pure-button pure-button-primary btn-width">UPLOAD PHOTO</button>-->
      <!--</div>-->


      <!--<div class="ma-b-10 text-center">-->
        <!--<button (click)="saveFile()" [disabled]="fileNotUploaded" class="pure-button pure-button-primary btn-width">SAVE PHOTO</button>-->
      <!--</div>-->
      <!--<div class="ma-b-20 text-center">-->
        <!--<button class="pure-button pure-button-primary btn-width">SKIP</button>-->
      <!--</div>-->

    </div>
  </div>
</div>
