<div @fade class="pure-g watch_width ma-auto">
  <div class="card-preview-container pure-u-1 pure-u-sm-1 pure-u-md-3-4">

    <vg-player>
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <div class="display_table">
          <div (click)="selectSrc()" class="quality_selector">{{ src_txt }}</div>
        </div>


        <vg-time-display vgProperty="current" vgFormat="hh:mm:ss"></vg-time-display>

        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="hh:mm:ss"></vg-time-display>

        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>


        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video [vgMedia]="media"
             [attr.src]="src"
             #media id="singleVideo" preload="auto" crossorigin>

        <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
               srclang="en">
        <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
               srclang="es">
      </video>
    </vg-player>


  </div>
  <div class="card-preview-container pure-u-1  pure-u-sm-1 pure-u-md-1-4">
    <div class="card">
      <span class="filter-btn">ABOUT <i class="fa fa-caret-down fa-lg"></i></span>
      <h4 class="ma-t-10 ma-b-10">Матрица времени</h4>
      <div class="movie-img pa-r-5 pa-l-5 ma-b-5"
           style="background: url('assets/img/pic_11.jpg') no-repeat center;">
      </div>
      <p class="text-left ma-0">
        Year: 2017<br>
        Genre: adventure<br>
        Rating: 100500<br>
        Producer: Someone<br>
        Director: Someone Else<br>
        Actors: Robin Wiliams, Robin Good, Robin Bad
      </p>
    </div>
  </div>
</div>

<div class="card-preview-container watch_width ma-auto">
  <div class="card">
    <span class="filter-btn">SUMMARY <i class="fa fa-caret-down fa-lg"></i></span>
  </div>
</div>

<app-comments></app-comments>



