<div id="nav-container" class="nav-container color_back_9 ma-b-15">

  <div class="pure-menu pure-menu-horizontal" style="position: relative;">
    <div id="logo">hypertube</div>

    <ul class="pure-menu-list ma-l-10" id="searchbar_ul">
      <li class="pure-menu-item">
        <form class="pure-form center">
          <input class="searchbar pure-input-rounded" type="text" placeholder="search...">
        </form>
      </li>
      <li class="pure-menu-item" routerLinkActive="pure-menu-selected">
        <a (click)="authService.currentUser" class="pure-menu-link color_front_10 pointer">
          <i class="fa fa-search"></i></a>
      </li>
    </ul>

    <ul class="pure-menu-list" style="float: right">
      <li class="pure-menu-item" routerLinkActive="pure-menu-selected" [routerLinkActiveOptions]="{ exact: true }"><a
        routerLink="" class="pure-menu-link color_front_10"><span
        class="menu-lable">GALLERY</span>
        <i class="fa fa-film"></i></a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="pure-menu-item" routerLinkActive="pure-menu-selected"><a
        routerLink="/my-profile"
        class="pure-menu-link color_front_10"><span
        class="menu-lable">MY SETTINGS</span>
        <i class="fa fa-cog"></i></a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" class="pure-menu-item" routerLinkActive="pure-menu-selected"><a
        routerLink="/sign-up"
        class="pure-menu-link color_front_10"><span
        class="menu-lable">SIGN-UP</span>
        <i class="fa fa-user-plus"></i></a>
      </li>
      <li *ngIf="!authService.isLoggedIn()" class="pure-menu-item" routerLinkActive="pure-menu-selected">
        <a routerLink="sign-in" class="pure-menu-link color_front_10"><span
          class="menu-lable">SIGN-IN</span>
          <i class="fa fa-sign-in"></i></a>
      </li>
      <li *ngIf="authService.isLoggedIn()" class="pure-menu-item" routerLinkActive="pure-menu-selected">
        <a (click)="logOut()" class="pure-menu-link color_front_10 pointer"><span
          class="menu-lable">SIGN-OUT</span>
          <i class="fa fa-sign-out"></i></a>
      </li>
    </ul>
  </div>
</div>
