<div class="pa-l-5 pa-r-5 ma-t-0">
  <div class="card filter-box ma-b-5">

    <div class="pure-g">
      <div class="pure-u-1-5">
        <div class="text-left"><span>ORDER BY:</span></div>
      </div>
      <div class="pure-u-4-5">
        <div class="pure-g">
          <div class="pure-u-1-2 pure-u-sm-1-4">
            <span (click)="orderby('title', title_order)" class="filter-btn">TITLE <i
            class="fa fa-caret-down fa-lg"></i></span>
          </div>
          <div class="pure-u-1-2  pure-u-sm-1-4">
            <span (click)="orderby('genre', genre_order)" class="filter-btn">GENRE <i
            class="fa fa-caret-down fa-lg"></i></span>
          </div>
          <div class="pure-u-1-2  pure-u-sm-1-4">
            <span (click)="orderby('rating', rating_order)" class="filter-btn">RATING <i
            class="fa fa-caret-down fa-lg"></i></span>
          </div>
          <div class="pure-u-1-2  pure-u-sm-1-4">
            <span (click)="orderby('year', year_order)" class="filter-btn">YEAR <i
            class="fa fa-caret-down fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card filter-box ma-b-10">
    <div>
      <span class="filter-btn">FILTERS <i class="fa fa-caret-down fa-lg"></i></span>
    </div>
  </div>

</div>


<app-gallery-preview #galleryPreview></app-gallery-preview>
