<div class="card-preview-container log_in_width ma-auto ma-t-30">

  <div *ngIf="registered" class="card ma-b-60">
    <p class="text-success">Your account has been created. Please verify your email before signing in</p>
  </div>
  <div *ngIf="confirmed_api" class="card ma-b-60">
    <p class="text-success">Congratulations! You can now sign-in</p>
  </div>

  <div class="card ma-b-60">
    <h4 class="text-center">SIGN IN</h4>
    <div class="text-left ma-t-10">
      <form class="pure-form">
        <fieldset>
          <div class="ma-b-10">
            <input class="width-100" id="login" type="text" placeholder="Login or e-mail">
          </div>
          <div class="ma-b-10 pure-control-group">
            <input class="width-100" id="first_name" type="password" placeholder="Password">
          </div>
          <div class="text-right ma-b-10">
            forgot password? <a id="reset_passwd_link" routerLink="/reset-password">reset</a>
          </div>
          <button class="ma-b-10 width-100 pure-button pure-button-primary">SIGN IN</button>
          <button class="ma-b-10 width-100 pure-button pure-button-primary">CONTINUE WITH GOOGLE</button>
          <button class="ma-b-10 width-100 pure-button pure-button-primary">CONTINUE WITH FACEBOOK</button>
          <button class="width-100 pure-button pure-button-primary">CONTINUE WITH 42</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
