<div class="card-preview-container log_in_width ma-auto ma-t-30">
  <div class="card ma-b-60">
    <h4 class="text-center">SIGN UP</h4>
    <div class="text-left ma-t-10">
      <div class="avatar-img ma-auto ma-b-10"
           style="background: url('assets/faces/walter-white.jpg') no-repeat center">
      </div>
      <div class="ma-b-10 text-center">
        <button class="pure-button pure-button-primary">UPLOAD PHOTO</button>
      </div>
      <form class="pure-form">
        <fieldset>
          <div class="ma-b-10">
            <input class="width-100" id="login" type="text" placeholder="Login">
          </div>
          <div class="ma-b-10">
            <input class="width-100" id="first_name" type="text" placeholder="First name">
          </div>
          <div class="ma-b-10">
            <input class="width-100" id="last_name" type="text" placeholder="Last name">
          </div>
          <div class="ma-b-10">
            <input class="width-100" id="email" type="text" placeholder="e-mail">
          </div>
          <div class="ma-b-10 pure-control-group">
            <input class="width-100" id="passwd" type="password" placeholder="Password">
          </div>
          <div class="ma-b-10 pure-control-group">
            <input class="width-100" id="confirm passwd" type="password" placeholder="Confirm password">
          </div>
          <button class="ma-b-10 width-100 pure-button pure-button-primary">SIGN UP</button>
        </fieldset>
      </form>

    </div>
  </div>
</div>
